<div class="panel border rounded-lg shadow-lg d-flex flex-column align-items-center py-5">
  <h1 class="title text-center font-weight-bold mb-4">URL Shortener</h1>
  <i class="fas fa-link fa-7x my-4 icon"></i>
  <form action="/" method="GET" class="mt-auto d-flex flex-column align-items-center">
    <div class="mb-4">
      {{ shortenURL }}
    </div>
    <button type="submit" class="btn-sm btn-submit">回首頁</button>
  </form>
</div>