<div class='card-main'>
	<div id='result-panel'>
		<div id='shortenURL-label'>你的新網址：</div>
		<div type='text' id='shortenURL' disabled>{{shortenURL}}</div>
		<button type='button' class='btn-submit' id='btn-copy'>複製網址</button>
		<a href='/' id='btn-back'>回首頁</a>
	</div>
</div>