<div class="panel border rounded-lg shadow-lg d-flex flex-column align-items-center py-5">
  <h1 class="title text-center font-weight-bold mb-4">URL Shortener</h1>
  <i class="fas fa-link fa-7x my-4 icon"></i>
  <form action="/" method="GET" class="mt-auto d-flex flex-column align-items-start">
    <div class="mb-1 font-weight-bolder" style="color:#94779c">你的新網址：</div>
    <input type="text" class="mb-4 font-weight-bold text-nowrap" id="shortenURL" value="{{ shortenURL }}">
    <div class="d-flex align-self-end">
      <button type="button" class="btn-sm btn-submit" id="copy-button">複製網址</button>
      <button type="submit" class="btn-sm btn-outline-submit">回首頁</button>
    </div>
  </form>
</div>