* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(
      180deg,
      rgba(31, 168, 196, 1) 0%,
      rgba(231, 84, 128, 1) 100%
    )
    fixed;
}

.panel {
  background-color: white;
  width: 380px;
  height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -190px;
}

.title {
  color: #1fa8c4;
  background: -webkit-linear-gradient(#1fa8c4, #5093b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon {
  background: -webkit-linear-gradient(#5f8dae, #ab6d94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-submit {
  color: white;
  border: 1px solid #e75480;
  background: linear-gradient(180deg, #cf5e88 0%, #e75480 100%);
}
.btn-submit:hover {
  color: white;
  background: #913753;
}
.btn-outline-submit {
  color: #e75480;
  border: 1px solid #e75480;
  background: transparent;
}
.btn-outline-submit:hover {
  color: white;
  background: #913753;
}
#copy-button {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 145px;
  margin-left: -36px;
}
@media screen and (max-width: 575px) {
  .panel {
    width: 340px;
    margin-left: -170px;
  }
  .title {
    font-size: 2.3rem;
  }
}